<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cpo2_10">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appli_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appli_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".charte_activity"></activity>
        <activity android:name=".resultat" />
        <activity android:name=".modele.add_newProduct" />
        <activity android:name=".vue.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.CustomTheme"></activity>
    </application>

</manifest>